@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-font: "Dancing Script", sans-serif;
    --secondary-font: "Playfair Display", cursive;
    --primary-color: #4E342E;
}

body{
    padding: 0;
    margin: 0;
    background-color:#F5F5DC;
}

header{
    
    margin-bottom: 100px;
    background-color: bisque;
   
}
    
   



/*Nav section*/

nav{
    margin-bottom: 10px;
    background-color:#e6cb84 ;
}

a.nav-link{
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 140%;
}

a.navbar-brand{
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 190%;
}

button.btn.btn-outline-secondary{
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 120%;
}

a.nav-link:hover{
    color: gray;
}

a.navbar-brand:hover{
    color: gray;
}

button.btn.btn-outline-secondary:hover{
    color: white;
}

/*Header Section*/



h1{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 250%;
}
p{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 110%;
}


.section {
   min-width: 1600px;
   padding-left: 150px;
}

.img{
    background: url("/assets/images/pngtree-creative-flat-coffee-cup-silhouette-png-image_5569828-removebg-preview.png")no-repeat center center/cover;
    width: 350px;
    height: 350px;
   
}

/*About*/

main{
    padding: 0;
    margin: 0;
    
}

#About{
    
    
    width: 100%;
    height: 500px;
}

main img{
    width: 700px;
    height: 400px;
    
    
}

main div.col-12.col-lg-6{
    width: 700px;
    
    
}

section#About.container.section{
    margin-bottom: 300px;
}

/*Menu*/
#menu{
    background-color: bisque;
    opacity: 0.9;
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 200px;
}

div.card{
    height: 450px;
    width: 450px;
    border:1px solid black;
    
}

div.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}

/*Product*/

#product{
    
}

hr{
    color: rgb(34, 29, 3);
    height: 50px;
}

@media screen and (max-width:768px) 
{
    h1{
        width: 100%;
    }
    body{
        width: 100%;
    }

    header{
        width: 100%;
    }
        
    div.img{
        width: 20%;
    }

    #About{
        width: 100%;
    }

    #About img{
        width: 320px;
        height: 320px;
    }

    #menu{
        width: 100%;
    }

}